*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: rgb(13, 13, 64);
    background-image: url("ToDoList.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
}
.todo{
    width: 100%;
    max-width: 540px;
    background: rebeccapurple;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todo h2 img{
    width: 30px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #887a7a;

    border-radius: 20px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background-color: orange;
    color: aliceblue;
    border-radius: 40px;
    font-size: 15px;
    cursor: pointer;
}
ul li{
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url('images/unchecked.png');
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked{
    color: rgb(33, 187, 187);
    text-decoration:line-through;
}
ul li.checked::before{
    background-image: url('images/checked.png');
    
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: rgb(231, 44, 2);
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}
ul li span:hover{
    background-color: rgb(17, 70, 70);
}
